body {
  padding: 1em 0;
  background: #ffffff;
}

.masonry {
  --gutter: 0.25em;
  --flow-space: var(--gutter);
  --switcher-target-container-width: 25rem;
}



.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}


.masonry img {
  width: 100%;
}


.switcher {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gutter, 1em);
  align-items: var(--switcher-vertical-alignment, flex-start);
}

.switcher > * {
  flex-grow: 1;
  flex-basis: calc(
    (var(--switcher-target-container-width, 40rem) - 100%) * 999
  );
}


.wrapper {
  max-width: 80rem;
  margin-inline: auto;
  padding-inline: var(--gutter);
}



