@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: hsl(34, 86%, 58%);
  --background-color: hsl(0, 0%, 5%);
  --header-background-color: hsl(0, 0%, 3%);
  --text-light: hsl(43, 6%, 44%);
  --white: hsl(0, 0%, 100%);
  /* --max-width: 1200px; */
  --header-font: "Roboto Condensed", sans-serif;

  /* Font Size */
  --step--1: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
  --step-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --step-1: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
  --step-2: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
  --step-3: clamp(1.944rem, 1.771rem + 0.8651vw, 2.4414rem);
  --step-4: clamp(2.3328rem, 2.0827rem + 1.2504vw, 3.0518rem);
  --step-5: clamp(2.7994rem, 2.4462rem + 1.7658vw, 3.8147rem);
  /* spacing */

  --tracking: -0.05ch;
  --tracking-s: -0.1ch;
  --wrapper-max-width: 80rem;
  --border-radius: var(--size-step-1);
  --size-step-1: clamp(0.25rem, 0.25rem + 0.1vw, 0.375rem);
  --space-s: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  --space-m: clamp(1.6875rem, 1.6875rem + 0vw, 1.6875rem);
  --space-l: clamp(2.25rem, 2.25rem + 0vw, 2.25rem);
  --space-xl: clamp(3.375rem, 3.375rem + 0vw, 3.375rem);
  --space-2xl: clamp(4.5rem, 4.5rem + 0vw, 4.5rem);
  --space-3xl: clamp(6.75rem, 6.75rem + 0vw, 6.75rem);

  /* fonts */
  --main-font: "Roboto", sans-serif;
  --paragraph: lora, serif;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  line-height: 1.5;
  background-color: var(--background-color);
  letter-spacing: var(--tracking);
  font-family: var(--main-font);
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
  text-decoration: none;
}

blockquote:not([class]),
li,
p {
  max-width: 65ch;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 0.75rem;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure text areas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

h1,
h2,
h3 {
  line-height: 1.1;
  letter-spacing: var(--tracking-s);
}

ul,
ol {
  padding-inline-start: 1em;
  padding-left: 0;
}

h1 {
  font-size: var(--step-5);
}

h2 {
  font-size: var(--step-4);
}

h3 {
  font-size: var(--step-3);
}

h4 {
  font-size: var(--step-2);
}

p {
  font-size: var(--step-1);
  letter-spacing: var(--tracking);
  font-family: var(--paragraph);
}

a {
  font-size: var(--step-0);
  letter-spacing: var(--tracking-s);
}

li,
label,
input {
  font-size: var(--step-0);

  letter-spacing: var(--tracking-s);
}

.flow > * + * {
  margin-block-start: var(--size-step-1, 1em);
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--wrapper-max-width, 85rem);
  position: relative;
}

svg {
  flex: none;
  height: 2ex;
  width: auto;
}

/* nav */

header {
  background-color: var(--background-color);
}

nav {
  position: fixed;
  isolation: isolate;
  width: 100%;
  z-index: 9;
}

.nav_header {
  padding: 1rem;
  max-width: var(--wrapper-max-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
}

.nav_logo a {
  font-size: var(--step-1);
  font-weight: 600;
  font-family: var(--header-font);
  color: var(--white);
  line-height: 1.5rem;
}

.nav_menu_btn {
  font-size: var(--step-1);
  color: var(--white);
  cursor: pointer;
}

.nav_links {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  max-width: var(--wrapper-max-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  background-color: var(--primary-color);
  overflow-x: auto;
  transition: transform 0.5s;
  z-index: -1;
}

.nav_links.open {
  transform: translateY(100%);
}

.nav_links a {
  color: var(--white);
  white-space: nowrap;

  &:hover {
    color: var(--background-color);
  }
}

.nav_btns {
  display: none;
}

/* hero */

.section_container {
  max-width: var(--wrapper-max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section_header {
  font-weight: 600;
  font-family: var(--header-font);
  line-height: 2.75rem;
  color: var(--white);
}

.section_description {
  color: var(--text-light);
  line-height: 1.75rem;
}

.header_container {
  position: relative;
  isolation: isolate;
  overflow: hidden;
  padding-bottom: 0;
}

.header_container::before {
  position: absolute;
  content: "KING";
  top: 0;
  right: 0;
  color: var(--white);
  font-size: clamp(1rem, -7.3478rem + 41.7391vw, 25rem);
  font-weight: 600;
  font-family: var(--header-font);
  line-height: 25rem;
  background-image: linear-gradient(
    to top,
    var(--header-background-color),
    var(--white)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.1;
  z-index: -1;
}

.header_container::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25%;
  background-image: linear-gradient(
    to top,
    var(--header-background-color) 25%,
    #ffffff00
  );
  z-index: 1;
}

.header_container h1 {
  margin-bottom: 1rem;
  max-width: 700px;
  font-weight: 700;
  font-family: var(--header-font);
  line-height: 3.75rem;
  letter-spacing: 0.15ch;
  color: var(--white);
}

.header_container .section_description {
  max-width: 400px;
  margin-bottom: 1rem;
  padding-top: 2rem;
}

.header_container a {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  color: var(--primary-color);
}

.header_container a span {
  color: var(--white);
}

/* shop */

.shop {
  position: relative;
  isolation: isolate;
}

.shop::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
}

.shop_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
  gap: 1rem;
}

.shop_card {
  position: relative;
  isolation: isolate;
  padding: 1rem;
  border-radius: 1rem;
  background-image: linear-gradient(
    to bottom,
    var(--header-background-color),
    rgba(255, 255, 255, 0.1)
  );
  overflow: hidden;
}

.shop_card::before {
  position: absolute;
  padding-left: 1rem;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: var(--white);
  font-size: clamp(1.2rem, -5.3391rem + 32.6957vw, 20rem);
  font-weight: 600;
  font-family: var(--header-font);
  line-height: 15rem;
  background-image: linear-gradient(
    to top,
    var(--header-background-color),
    var(--white)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.1;
  z-index: -1;
}

.shop_card:nth-child(1)::before {
  content: "M";
}

.shop_card:nth-child(2)::before {
  content: "A";
}

.shop_card:nth-child(3)::before {
  content: "B";
}

.shop_card p {
  margin-bottom: 0.5rem;
  color: var(--primary-color);
}

.shop_card h4 {
  font-weight: 600;
  font-family: var(--header-font);
  color: var(--white);
}

.shop_card img {
  max-width: 200px;
  margin-inline: auto;
  margin-block: 4rem;
}

.shop_card div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
}

.shop_card div a {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  color: var(--primary-color);
}

.shop_card div a span {
  color: var(--white);
}

.shop_card div > p {
  color: var(--text-light);
}

/* about */

.about {
  overflow: hidden;
}

.about_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
  gap: 2rem;
}

.about_image {
  position: relative;
  isolation: isolate;
  overflow: hidden;
}

.about_image::before {
  position: absolute;
  content: "ABOUT US";
  top: 0;
  right: 0;
  color: var(--white);
  font-size: clamp(1.125rem, -1.2663rem + 11.9565vw, 8rem);
  font-weight: 600;
  font-family: var(--header-font);
  white-space: nowrap;
  line-height: 7rem;
  background-image: linear-gradient(
    to bottom,
    var(--background-color),
    var(--white)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.1;
  z-index: -1;
}

.about_image::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-image: linear-gradient(to top, var(--background-color), #ffffff00);
  z-index: 1;
}

.about_image img {
  max-width: 480px;
  margin-inline: auto;
}

.about_content .section_header {
  margin-bottom: 1rem;
}

.about_content .section_description {
  margin-bottom: 1rem;
}

.about_stats {
  max-width: 350px;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about_stats h4 {
  margin-bottom: 0.5rem;
  font-weight: 600;
  font-family: var(--header-font);
  color: var(--primary-color);
}

.about_stats p {
  font-family: var(--header-font);
  color: var(--text-light);
}

/* choose */

.choose_container {
  max-width: var(--wrapper-max-width);
}

/* .choose_header {
  gap: 1rem 2rem;
} */

/* .choose_header .section_header {
  text-align: center;
} */

.choose_header p {
  font-weight: 500;
  color: var(--primary-color);
  /* text-align: center; */
}

/* .swiper-slide {
  width: 100%;
  max-width: 300px;
} */

.choose_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
  gap: var(--space-l);
  padding: 1rem;
}

.choose_card {
  display: flex;
  border-radius: 1rem;
  border: 2px solid rgba(255, 255, 255, 0.1);
  overflow: hidden;
}

.choose_card_content {
  position: relative;
  isolation: isolate;
  min-width: 175px;
  padding: 1.5rem;
  background-color: var(--primary-color);
}

.choose_card_content p {
  margin-bottom: 1rem;
  font-weight: 800;
  font-family: var(--header-font);
  color: var(--background-color);
}

.choose_card_content a {
  color: var(--white);
}

.choose_card_content h4 {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: var(--step-5);
  font-weight: 800;
  font-family: var(--header-font);
  color: var(--background-color);
  opacity: 0.5;
  z-index: 1;
}

.choose_card img {
  max-width: 500px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

/* banner */

.banner_container {
  position: relative;
  isolation: isolate;
  overflow: hidden;
}

.banner_container::before {
  position: absolute;
  content: "MON";
  top: 50%;
  left: 0;
  transform: translate(calc(-50% + 7.5rem), -50%) rotate(-90deg);
  color: var(--white);
  font-size: 15rem;
  font-weight: 600;
  font-family: var(--header-font);
  white-space: nowrap;
  line-height: 15rem;
  background-image: linear-gradient(
    to bottom,
    var(--background-color),
    var(--white)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.1;
  z-index: -1;
}

.banner_container::after {
  position: absolute;
  content: "STER";
  top: 50%;
  right: 0;
  transform: translate(calc(50% - 7.5rem), -50%) rotate(90deg);
  color: var(--white);
  font-size: 15rem;
  font-weight: 600;
  font-family: var(--header-font);
  white-space: nowrap;
  line-height: 15rem;
  background-image: linear-gradient(
    to bottom,
    var(--background-color),
    var(--white)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.1;
  z-index: -1;
}

.banner_container p {
  position: absolute;
  font-weight: 500;
  color: var(--primary-color);
  z-index: 1;
}

.banner_container p:nth-child(1) {
  top: 15%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.banner_container p:nth-child(2) {
  top: 50%;
  left: 15%;
  transform: translate(-50%, -50%);
}

.banner_container p:nth-child(3) {
  bottom: 15%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.banner_container p:nth-child(4) {
  top: 15%;
  right: 20%;
  transform: translate(50%, -50%);
}

.banner_container p:nth-child(5) {
  top: 50%;
  right: 15%;
  transform: translate(50%, -50%);
}

.banner_container p:nth-child(6) {
  bottom: 15%;
  right: 20%;
  transform: translate(50%, -50%);
}

.banner_container img {
  max-width: 350px;
  margin-inline: auto;
  opacity: 0.5;
}

@media (width > 768px) {
  nav {
    position: static;
    padding: 2rem 1rem;
    max-width: var(--max-width);
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  .nav_header {
    flex: 1;
    padding: 0;
    background-color: transparent;
  }

  .nav_logo a {
    color: var(--primary-color);
  }

  .nav_menu_btn {
    display: none;
  }

  .nav_links {
    position: static;
    width: fit-content;
    padding: 0;
    flex-direction: row;
    gap: 3rem;
    background-color: transparent;
    transform: none !important;
  }

  .nav_links a {
    color: var(--text-light);
  }

  .nav_links a:hover {
    color: var(--white);
  }

  .nav_btns {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
  }

  .nav_btns .btn {
    padding: 4px 10px;
    outline: none;
    border: none;
    font-size: 1.5rem;
    color: var(--text-light);
    background-color: transparent;
    border-radius: 100%;
    transition: 0.3s;
    cursor: pointer;
  }

  .nav_btns .btn:hover {
    color: var(--primary-color);
  }
}
