@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: hsl(34, 86%, 58%);
  --background-color: hsl(0, 0%, 5%);
  --header-background-color: hsl(0, 0%, 3%);
  --text-light: hsl(43, 6%, 44%);
  --white: hsl(0, 0%, 100%);
  /* --max-width: 1200px; */
  --header-font: "Roboto Condensed", sans-serif;

  /* Font Size */
  --step--1: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
  --step-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --step-1: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
  --step-2: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
  --step-3: clamp(1.944rem, 1.771rem + 0.8651vw, 2.4414rem);
  --step-4: clamp(2.3328rem, 2.0827rem + 1.2504vw, 3.0518rem);
  --step-5: clamp(2.7994rem, 2.4462rem + 1.7658vw, 3.8147rem);
  /* spacing */

  --tracking: -0.05ch;
  --tracking-s: -0.1ch;
  --wrapper-max-width: 80rem;
  --border-radius: var(--size-step-1);
  --size-step-1: clamp(0.25rem, 0.25rem + 0.1vw, 0.375rem);
  --space: 100px;
  /* fonts */
  --main-font: "Roboto", sans-serif;
  --paragraph: lora, serif;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  line-height: 1.5;
  background-color: var(--background-color);
  letter-spacing: var(--tracking);
  font-family: var(--main-font);
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
  text-decoration: none;
}

blockquote:not([class]),
li,
p {
  max-width: 65ch;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 0.75rem;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure text areas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

h1,
h2,
h3 {
  line-height: 1.1;
  letter-spacing: var(--tracking-s);
}

ul,
ol {
  padding-inline-start: 1em;
  padding-left: 0;
}

h1 {
  font-size: var(--step-5);
}

h2 {
  font-size: var(--step-4);
}

h3 {
  font-size: var(--step-3);
}

h4 {
  font-size: var(--step-2);
}

p {
  font-size: var(--step-1);
  letter-spacing: var(--tracking-s);
  font-family: var(--paragraph);
}

a {
  font-size: var(--step-0);
  letter-spacing: var(--tracking-s);
}

li,
label,
input {
  font-size: var(--step-0);

  letter-spacing: var(--tracking-s);
}

.flow > * + * {
  margin-block-start: var(--size-step-1, 1em);
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--wrapper-max-width, 85rem);
  position: relative;
}

/* Nav */

header {
  background-color: var(--background-color);
}

nav {
  position: fixed;
  isolation: isolate;
  width: 100%;
  z-index: 9;
}

.nav_header {
  padding: 1rem;
  max-width: var(--wrapper-max-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
}

.nav_logo a {
  font-size: var(--step-1);
  font-weight: 600;
  font-family: var(--header-font);
  color: var(--white);
  line-height: 1.5rem;
}

.nav_menu_btn {
  font-size: var(--step-1);
  color: var(--white);
  cursor: pointer;
}

.nav_links {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  max-width: var(--wrapper-max-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  background-color: var(--primary-color);
  overflow-x: auto;
  transition: transform 0.5s;
  z-index: -1;
}

.nav_links.open {
  transform: translateY(100%);
}

.nav_links a {
  color: var(--white);
  white-space: nowrap;
}

.nav_btns {
  display: none;
}
