:root {
  --text: hsl(180, 54%, 7%);
  --text-secondary: hsl(180, 8%, 35%);
  --text-accent: hsl(180, 6%, 88%);
  /* --background: hsl(0, 0%, 100%);
  --primary: hsl(0, 0%, 0%);
  --secondary: hsl(0, 0%, 37%);
  --accent: hsl(0, 0%, 78%); */

  /* Font Size */
  --step--1: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
  --step-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --step-1: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
  --step-2: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
  --step-3: clamp(1.944rem, 1.771rem + 0.8651vw, 2.4414rem);
  --step-4: clamp(2.3328rem, 2.0827rem + 1.2504vw, 3.0518rem);
  --step-5: clamp(2.7994rem, 2.4462rem + 1.7658vw, 3.8147rem);
  /* spacing */

  --tracking: -0.05ch;
  --tracking-s: -0.1ch;
  --wrapper-max-width: 70rem;
  --gutter: clamp(1rem, 0.73rem + 1.36vw, 1.875rem);
  --border-radius: var(--size-step-1);
  --size-step-1: clamp(0.25rem, 0.25rem + 0.1vw, 0.375rem);
  --space: 100px;
  /* fonts */
  --main-font: Ubuntu, sans-serif;
  --paragraph: lora, serif;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  line-height: 1.5;
  background-color: var(--primary);
  letter-spacing: var(--tracking);
  font-family: var(--main-font);
  line-height: 1.4;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

blockquote:not([class]),
li,
p {
  max-width: 65ch;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 0.75rem;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: var(--step-0);
}

/* Make sure text areas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

h1,
h2,
h3 {
  line-height: 1.1;
  letter-spacing: var(--tracking-s);
}

ul,
ol {
  padding-inline-start: 1em;
  padding-left: 0;
}

h1 {
  font-size: var(--step-5);
}

h2 {
  font-size: var(--step-4);
}

h3 {
  font-size: var(--step-3);
}

h4 {
  font-size: var(--step-2);
}

p {
  font-size: var(--step-1);
  letter-spacing: var(--tracking-s);
  font-family: var(--paragraph);
}

a {
  font-size: var(--step-0);
  letter-spacing: var(--tracking-s);
  text-decoration: none;
}

li,
label,
input {
  font-size: var(--step-0);

  letter-spacing: var(--tracking-s);
}

.flow > * + * {
  margin-block-start: var(--size-step-1, 1em);
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--wrapper-max-width, 85rem);
  position: relative;
  padding-left: var(--gutter);
  padding-right: var(--gutter);
}

/* nav */

.header {
  background-color: var(--primary);
  padding: 1.5rem 0;
  color: var(--text-accent);
}

.header-logo {
  font-size: var(--step-2);
  font-weight: bold;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--wrapper-max-width);
  padding: 0 var(--gutter);
  margin: 0 auto;
}

.header-links {
  display: flex;
  gap: 2rem;
}

.header-links a:hover {
  color: var(--accent);
  cursor: pointer;
}
/* Featured */

.featured {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

.featured-image img {
  height: 100%;
  object-fit: cover;
  border-radius: var(--border-radius);
}

.featured-more {
  background-color: var(--text-accent);
  color: var(--text);
  padding: 1rem 2rem;
  border-radius: var(--border-radius);
  border: none;
}

.featured-more:hover {
  background-color: var(--text-accent);
  color: var(--text);
  cursor: pointer;
}

.featured-footer {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-top: 2rem;
}

.featured-content p {
  color: var(--text-secondary);
}

/* Latest */

.latest {
  margin-top: 3rem;
  padding: 1rem 1rem;
  background-color: var(--accent);
  border-radius: var(--border-radius);
}

.latest-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.latest-card img {
  height: 225px;
  width: 100%;
  object-fit: cover;
}

.latest-card img {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.latest-card {
  background-color: var(--background);
  border-radius: var(--border-radius);
}

.latest-content {
  padding: var(--gutter);
}

.latest-content p {
  color: var(--text-secondary);
}

/* hot */

.hot {
  color: var(--text);
  padding: 1rem 1rem;
}

.hot-title {
  margin-bottom: 1rem;
}

.hot-subtitle {
  margin-bottom: 2rem;
  color: #666;
}

.hot-card {
  background-color: var(--background);
  border-radius: var(--border-radius);
  overflow: hidden;
}

.hot-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  height: 600px;
}

.hot-grid-1 {
  grid-column: span 2;
  grid-row: span 2;
}

.hot-grid-2 {
  grid-column: span 1;
  grid-row: span 1;
}

.hot-grid-3 {
  grid-column: span 1;
  grid-row: span 1;
}

.hot-grid-4 {
  grid-column: span 2;
  grid-row: span 1;
}

@media screen {
  @media (max-width: 900px) {
    .hot-grid {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
      height: auto;
    }
    .hot-grid-1 {
      grid-column: span 2;
      grid-row: span 2;
    }
    .hot-grid-2,
    .hot-grid-3,
    .hot-grid-4 {
      grid-column: span 2;
      grid-row: span 1;
    }
  }

  @media (max-width: 600px) {
    .hot-grid {
      grid-template-columns: 1fr;
      grid-template-rows: none;
      gap: 1rem;
      height: auto;
    }
    .hot-grid-1,
    .hot-grid-2,
    .hot-grid-3,
    .hot-grid-4 {
      grid-column: span 1;
      grid-row: span 1;
    }
    .featured,
    .latest-list {
      grid-template-columns: 1fr;
    }
    .header-nav {
      flex-direction: column;
      gap: 1rem;
      align-items: flex-start;
    }
    .header-links {
      gap: 1rem;
    }
  }
}

.hot-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 5. Grid - Masonry Layout */

.masonry {
  padding: 4rem 1rem;
}

.masonry-subtitle {
  margin-bottom: 2rem;
  color: #666;
}

.masonry-grid {
  --grid-placement: auto-fit;
  --grid-min-item-size: clamp(16rem, 50vw, 26rem);
  display: grid;
  gap: var(--gutter);
  grid-template-columns: repeat(
    var(--grid-placement, auto-fill),
    minmax(var(--grid-min-item-size, 16rem), 1fr)
  );
}

.grid[data-rows="masonry"] {
  align-items: start;
  grid-template-rows: masonry;
}

.grid[data-layout="50-50"] {
  --grid-placement: auto-fit;
  --grid-min-item-size: clamp(16rem, 50vw, 26rem);
}

.masonry-item {
  border-radius: 8px;
}

.masonry-item img {
  width: unset;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
