:root {
  /* Colors */
  --text-secondary: hsl(0, 0%, 100%);
  --text: hsl(209, 93%, 5%);
  --background: hsl(204, 100%, 97%);
  --primary: hsl(204, 96%, 53%);
  --secondary: hsl(332, 96%, 71%);
  --accent: hsl(13, 96%, 63%);

  /* Font Size */
  --step--1: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
  --step-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --step-1: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
  --step-2: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
  --step-3: clamp(1.944rem, 1.771rem + 0.8651vw, 2.4414rem);
  --step-4: clamp(2.3328rem, 2.0827rem + 1.2504vw, 3.0518rem);
  --step-5: clamp(2.7994rem, 2.4462rem + 1.7658vw, 3.8147rem);
  /* spacing */

  --tracking: -0.05ch;
  --tracking-s: -0.1ch;
  --wrapper-max-width: 65rem;
  --gutter: var(--space-s-m);
  --border-radius: var(--size-step-1);
  --size-step-1: clamp(0.25rem, 0.25rem + 0.1vw, 0.375rem);
  --space: 100px;
  /* fonts */
  --main-font: Ubuntu, sans-serif;
  --paragraph: lora, serif;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  line-height: 1.5;
  background-color: var(--background);
  letter-spacing: var(--tracking);
  font-family: var(--main-font);
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

blockquote:not([class]),
li,
p {
  max-width: 65ch;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

h1,
h2,
h3 {
  line-height: 1.1;
  letter-spacing: var(--tracking-s);
}

ul,
ol {
  padding-inline-start: 1em;
  padding-left: 0;
}

h1 {
  font-size: var(--step-5);
}

h2 {
  font-size: var(--step-3);
}

h3 {
  font-size: var(--step-2);
}

p {
  font-size: var(--step-1);
  letter-spacing: var(--tracking-s);
  font-family: var(--paragraph);
}

li,
label,
input {
  font-size: var(--step-0);

  letter-spacing: var(--tracking-s);
}

.flow > * + * {
  margin-block-start: var(--size-step-1, 1em);
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--wrapper-max-width, 85rem);
  position: relative;
}
/* Hero Section */

.hero_description {
  color: var(--accent);
}

.hero {
  padding: var(--space);
}

.hero_highlight {
  color: var(--primary);
}

/* Feature Section */

.feature {
  padding: var(--space);
}

.feature_item {
  padding: 30px 0;
}

.feature_title {
  font-weight: 500;
  text-transform: uppercase;
}

/* CTA */

.cta {
  padding: var(--space);
  background-color: var(--accent);
  color: var(--text);
  border-radius: var(--border-radius);
}

.cta_description {
  padding: 15px 0;
}

button {
  color: none;
  border: none;
}

.cta_button,
.video_button,
.element_button {
  background-color: var(--primary);
  color: var(--text-secondary);
  padding: 10px 20px;
  border-radius: var(--border-radius);
  font-size: var(--step-1);
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}

.cta_button:hover,
.video_button:hover,
.element_button:hover {
  background-color: var(--secondary);
  color: var(--text);
}

/* Video */

.video {
  padding: var(--space);
}

.video_controls {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.video_container {
  margin-top: 20px;
  background-image: url("./images/video.jpg");
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  width: 100%;
  height: 100%;
  height: 700px;

  border-radius: var(--border-radius);
}

/* programs */

.program {
  padding: var(--space);

  border-radius: var(--border-radius);
}

.program h2 {
  text-align: center;
  color: var(--text);
}

.program_cards {
  display: grid;

  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-top: 25px;
}

.program_card {
  border-radius: var(--border-radius);
  background-color: var(--background);

  height: 700px;
  display: flex;
  flex-direction: column;
}

.program_card-img {
  object-fit: cover;
  width: 100%;
  height: 700px;
  min-height: 200px;
  border-radius: var(--border-radius);
}

/* Form  */

.element {
  padding: var(--space);
  display: flex;
  justify-content: space-between;
  gap: 60px;
  background-color: var(--accent);
  border-radius: var(--border-radius);
  margin-top: 2rem;
}

.element_left {
  flex: 1;
}

.element_right {
  flex: 1;
}

.element_subtitle {
  margin-top: 10px;
  margin-bottom: 20px;
}

.element_form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.element_placeholder {
  background-color: var(--background);
  width: 100%;
  height: 100%;
}

.element_list-item {
  padding: 8px 0;
  border-bottom: 1px solid var(--text-secondary);
}

.element_list-item:before {
  content: "✓";
  color: var(--text-secondary);
  margin-right: 10px;
}

.element_form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.element_form-group label {
  font-weight: 500;
}

.element_form-group input,
.element_form-group select {
  padding: 12px;
  border: 1px solid var(--text);
  border-radius: var(--border-radius);
  font-size: var(--step-0);
}

select:focus,
input:focus {
  outline: 2px solid var(--primary);
  border: 1px solid var(--primary);
}

select {
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-overflow: "";
  text-indent: 0.01px;
  background: url("data:image/svg+xml;utf8,<svg fill='black' height='16' viewBox='0 0 20 20' width='16' xmlns='http://www.w3.org/2000/svg'><path d='M5.516 7.548a1 1 0 0 1 1.415 0L10 10.617l3.07-3.07a1 1 0 1 1 1.415 1.415l-3.777 3.778a1 1 0 0 1-1.415 0L5.516 8.963a1 1 0 0 1 0-1.415z'/></svg>")
    no-repeat right 1rem center/1em;
  padding-right: 2.5em;
  background-color: var(--background);
}

/* images */
.hero {
  height: 50vh;
  background-image: url("./images/hero.jpg");
  background-size: cover;
  background-position: center;
}
.hero {
  min-height: 60vh;
  height: 60vh;
  background-image: linear-gradient(
      120deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    url("./images/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  border-radius: var(--border-radius);
  color: var(--text-secondary);
  position: relative;
  overflow: hidden;
}

@media (max-width: 900px) {
  .hero {
    min-height: 40vh;
    height: 40vh;
    padding: 40px 10px;
    border-radius: 0;
  }
}

.feature_image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: var(--border-radius);
}
