body {
  background: #000623;
}

.wrapper {
  max-width: 65rem;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  place-items: center;
}

.masked-image {
  mask-image: url(https://assets.codepen.io/174183/mask.svg);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 100% 100%;
  max-width: 30rem;
  margin-inline: auto;
  overflow: hidden;
}

.masked-image-2 {
  mask-image: url(https://assets.codepen.io/174183/repeat-mask.svg);
  mask-size: 10px 10px;
  max-width: 25rem;
  margin-inline: auto;
  overflow: hidden;
}
