:root {
  --wrapper-max-width: 90rem;
  --gutter: var(--space-m);

  --leading: 1.4;
  --leading-short: 1.3;
  --leading-slim: 1.2;
  --leading-fine: 1.1;
  --leading-flat: 1;
  --leading-mini: 0.9;
  --leading-micro: 0.8;
  --kerning-tight: -0.04ch;
  --kerning-loose: 0.1ch;
  --heading-kerning: -0.015em;
  --heading-line-height: var(--leading-fine);
  --heading-font-family: var(--font-display);
  --heading-font-weight: var(--font-bold);

  /* font size */
  --size-step-9: clamp(2.625rem, -0.7643rem + 16.9463vi, 15.25rem);
  --size-step-8: clamp(2.3125rem, 0.1313rem + 10.906vi, 10.4375rem);
  --size-step-7: clamp(2.0625rem, 0.7706rem + 6.4597vi, 6.875rem);
  --size-step-6: clamp(1.8125rem, 1.0742rem + 3.6913vi, 4.5625rem);
  --size-step-5: clamp(1.6875rem, 1.2177rem + 2.349vi, 3.4375rem);
  --size-step-4: clamp(1.5625rem, 1.2773rem + 1.4262vi, 2.625rem);
  --size-step-3: clamp(1.4375rem, 1.2865rem + 0.755vi, 2rem);
  --size-step-2: clamp(1.3125rem, 1.1951rem + 0.5872vi, 1.75rem);
  --size-step-1: clamp(1.1875rem, 1.1036rem + 0.4195vi, 1.5rem);
  --size-step-0: clamp(1.0625rem, 0.9954rem + 0.3356vi, 1.3125rem);
  --size-step--1: clamp(1rem, 0.9664rem + 0.1678vi, 1.125rem);
  --size-step--2: clamp(0.875rem, 0.8414rem + 0.1678vi, 1rem);
  --size-step--3: clamp(0.8125rem, 0.7957rem + 0.0839vi, 0.875rem);
  --size-step--4: clamp(0.625rem, 0.7043rem + -0.0839vi, 0.6875rem);
  /* space */
  --space-2xs: clamp(0.375rem, 0.3414rem + 0.1678vi, 0.5rem);
  --space-xs: clamp(0.5625rem, 0.5122rem + 0.2517vi, 0.75rem);
  --space-s: clamp(0.75rem, 0.6829rem + 0.3356vi, 1rem);
  --space-m: clamp(1.125rem, 1.0243rem + 0.5034vi, 1.5rem);
  --space-l: clamp(1.5rem, 1.3658rem + 0.6711vi, 2rem);
  --space-xl: clamp(1.875rem, 1.7072rem + 0.8389vi, 2.5rem);
  --space-2xl: clamp(3rem, 2.7315rem + 1.3423vi, 4rem);
  --space-3xl: clamp(3.75rem, 3.4144rem + 1.6779vi, 5rem);
  --space-4xl: clamp(5.625rem, 5.1216rem + 2.5168vi, 7.5rem);
  --space-5xl: clamp(7.5rem, 6.8289rem + 3.3557vi, 10rem);
  --space-2xs-xs: clamp(0.375rem, 0.2743rem + 0.5034vi, 0.75rem);
  --space-xs-s: clamp(0.5625rem, 0.4451rem + 0.5872vi, 1rem);
  --space-s-m: clamp(0.75rem, 0.5487rem + 1.0067vi, 1.5rem);
  --space-m-l: clamp(1.125rem, 0.8901rem + 1.1745vi, 2rem);
  --space-l-xl: clamp(1.5rem, 1.2315rem + 1.3423vi, 2.5rem);
  --space-xl-2xl: clamp(1.875rem, 1.3045rem + 2.8523vi, 4rem);
  --space-2xl-3xl: clamp(3rem, 2.4631rem + 2.6846vi, 5rem);
  --space-3xl-4xl: clamp(3.75rem, 2.7433rem + 5.0336vi, 7.5rem);
  --space-s-l: clamp(0.75rem, 0.4144rem + 1.6779vi, 2rem);
  --space-s-xl: clamp(0.75rem, 0.2802rem + 2.6779vi, 2.5rem);
  --space-l-3xl: clamp(1.5rem, 0.5604rem + 4.6779vi, 5rem);
  --flow-space: var(--space-m);
  /* ch */
  --measure: 65ch;
  --measure-xs: 20ch;
  --measure-s: 35ch;
  --measure-m: 45ch;
  --measure-l: 75ch;
  /* font */
  --main-font: Ubuntu, sans-serif;
  --paragraph: lora, serif;
  --font-display: Ubuntu, sans-serif;
  --font-bold: 700;
  --kerning: normal;
  --kerning: normal;
  --stroke-weight-light: 1px;
  --stroke: var(--stroke-weight-light) solid var(--stroke-color, currentColor);
}
*,
:after,
:before {
  box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

blockquote,
body,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
p {
  margin-block-end: 0;
}

ol[role="list"],
ul[role="list"] {
  list-style: none;
}

button,
h1,
h2,
h3,
h4,
input,
label {
  line-height: 1.1;
}

a:not([class]) {
  color: currentColor;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
}

body {
  background: hsl(340, 6%, 9%);
  color: hsl(53, 20%, 91%);
  font-family: var(--main-font);
  font-size: var(--size-step-0);
  font-size-adjust: from-font;
  line-height: 1.4;

  min-height: 100vh;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  font-family: var(--heading-font-family, var(--paragraph));
  /* font-feature-settings: "cpsp" on; */
  font-weight: var(--heading-font-weight, var(--font-bold));
  letter-spacing: var(--heading-kerning, var(--kerning));
  line-height: var(--heading-line-height, var(--leading-fine));
  overflow-wrap: anywhere;
  text-wrap: balance;
}

:is(h1, h2, h3, h4) em {
  font-style: normal;
}

:is(h1, h2, h3, h4) a:not(:hover) {
  text-decoration: none;
}

h1 {
  font-size: var(--size-step-5);
  max-width: var(--measure-xs);
}

h2 {
  font-size: var(--size-step-2);
  max-width: var(--measure-s);
}

h3,
h4,
h5,
h6 {
  font-size: var(--size-step-3);
}

h4,
h5,
h6 {
  max-width: var(--measure-m);
}

:where(body, h1, h2, h3, h4, p, figure, blockquote, dl, dd) {
  margin-block: 0;
}

strong {
  font-family: var(--paragraph);
  font-weight: 700;
}

small {
  font-size: 0.8em;
}

:is(ol, ul) {
  margin-block-end: 0;
}

ul {
  list-style-type: disc;
  padding-inline-start: var(--global-ul-padding, 1.75ch);
}

ol {
  padding-inline-start: var(--global-ol-padding, 1.75ch);
}

:is(ol, ul, dl):where(:not([class])) > li + li {
  margin-block-start: var(--global-list-flow, 0.5em);
}

:is(ol, ul, dl):where(:not([class])) :is(ol, ul, dl) {
  margin-block-start: var(--global-list-flow, 0.5em);
}

ul ::marker {
  line-height: 1;
}

ol ::marker {
  font-size: 1em;
  font-weight: var(--font-bold);
}

[role="list"][class],
[role="tablist"] {
  list-style: none;
  margin-block: 0;
  padding: 0;
}

img,
picture {
  display: block;
  height: auto;
  max-width: 100%;
}

img[src*=".svg"] {
  width: 100%;
}

hr {
  border: 0;
  border-block-start: 1px solid;
  color: #edece5;
  height: 1px;
  margin: var(--hr-space, var(--space-3xl)) 0;
  padding: 0;
}

:where(svg:not([height])) {
  height: 1lh;
  width: auto;
}

svg {
  flex-shrink: 0;
}

button,
input,
select,
textarea {
  font: inherit;
}

@media (min-width: 50em) {
  h1,
  h2,
  h3,
  h4 {
    overflow-wrap: unset;
  }
}
/*  */

.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

/* ribbon */

.ribbon {
  border: none;
  border-block-start: var(
    --ribbon-border-block-start,
    var(--space-s-m) solid hsl(50, 100%, 50%)
  );
  margin-block: var(--ribbon-space, 0);
}

/* wrapper */

.wrapper {
  margin-inline: auto;
  max-width: var(--wrapper-max-width);
  padding-inline: var(--gutter-wrapper-inline, var(--gutter));
  position: relative;
}

/* post */

.post-list ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.post-list ol:not(:has(.compact-post)) {
  border-block-start: var(--stroke);
}

.post-list ol > li + li {
  margin-block-start: 0;
}

.post-list__header {
  --gutter-wrapper-inner-block: var(
    --post-list-header-gutter-wrapper-inner-block,
    var(--space-s)
  );
}

.post-list:not(:has(.post-list__header)) {
  margin-block-start: var(
    --post-list-no-header-margin-block-start,
    var(--space-xl)
  );
}

.post {
  border-block-end: var(--stroke);
}

@media (min-width: 50em) {
  .post {
    display: grid;
    grid-template-columns: 25% 1fr;
  }
}

.post__content {
  --flow-space: var(--space-l);
  padding-block: var(--gutter-wrapper-inner-block, var(--gutter));
  padding-inline: var(--gutter-wrapper-inner-inline, var(--gutter));
}

@media (min-width: 50em) {
  .post__content {
    border-inline-start: var(--stroke);
    order: 1;
    padding-block: var(--space-3xl);
    padding-inline: var(--space-3xl);
  }
}

.post__meta {
  --flow-space: var(--space-xs-s);
  padding-block: var(--gutter-wrapper-inner-block, var(--gutter));
  padding-inline: var(--gutter-wrapper-inner-inline, var(--gutter));
}

@media (min-width: 50em) {
  .post__meta {
    padding-block: var(--space-3xl);
  }
}

.post__meta .cluster {
  --cluster-vertical-alignment: var(
    --post-meta-cluster-vertical-alignment,
    flex-start
  );
  --cluster-direction: var(--post-meta-cluster-direction, column);
  --cluster-column-gap: var(--post-meta-cluster-column-gap, var(--space-xs-s));
  --cluster-row-gap: var(--post-meta-cluster-row-gap, var(--space-xs-s));
}

.post__heading {
  font-family: var(--main-font);
  font-size: var(--size-step-4);
  max-width: 40ch;
  text-wrap: balance;
}

.post__heading a {
  text-decoration: none;
}

.post__heading a:hover {
  --post-heading-text-decoration: var(
    --post-heading-text-decoration-hover,
    underline
  );
  text-decoration-color: var(
    --post-heading-text-decoration-color,
    var(--color-secondary)
  );
}

.post__summary {
  max-width: 60ch;
}

.post__author-group.cluster {
  --cluster-column-gap: var(
    --post-author-group-cluster-column-gap,
    var(--space-2xs)
  );
  --cluster-row-gap: var(--post-author-group-cluster-row-gap, var(--space-2xs));
}

.post__author-link {
  color: inherit;
  font-family: var(--post-author-link-font-family, var(--font-accent));
  text-decoration: var(--post-author-link-text-decoration, none);
}

.post__author-link:hover {
  --post-author-link-text-decoration: var(
    --post-author-link-text-decoration-hover,
    underline
  );
  text-decoration-color: var(
    --post-author-link-text-decoration-color,
    var(--color-secondary)
  );
}

.post[data-post-variant="newsletter"] {
  --cluster-wrap: var(--post-newsletter-cluster-wrap, wrap);
  --cluster-column-gap: var(
    --post-newsletter-cluster-column-gap,
    var(--space-l)
  );
  --cluster-row-gap: var(--post-newsletter-cluster-row-gap, var(--space-l));
  --cluster-horizontal-alignment: var(
    --post-newsletter-cluster-horizontal-alignment,
    flex-start
  );
  --cluster-vertical-alignment: var(
    --post-newsletter-cluster-vertical-alignment,
    baseline
  );
  --cluster-direction: row var(--post-newsletter-cluster-direction, row);
  grid-template-columns: 1fr;
}

.post[data-post-variant="newsletter"] .post__content {
  border-inline-start: none;
}

.post[data-post-variant="newsletter"] .post__heading {
  font-size: var(--post-newsletter-heading-font-size, var(--size-step-5));
}

.compact-post {
  --repel-vertical-alignment: center;
  color: currentColor;
  padding-block: var(--compact-post-padding, var(--space-s));
  text-decoration: none;
}

li:not(:last-child) > .compact-post {
  border-block-end: var(--stroke);
}

.compact-post__heading {
  font-size: var(--compact-post-heading-size, var(--size-step-5));
}

.compact-post:hover .compact-post__heading {
  text-decoration: underline;
  text-decoration-color: var(
    --compact-post-heading-underline-color,
    var(--color-secondary)
  );
}

.cluster {
  align-items: var(--cluster-vertical-alignment, center);
  column-gap: var(--cluster-column-gap, var(--gutter, var(--space-s-m)));
  display: flex;
  flex-direction: var(--cluster-direction, row);
  flex-wrap: var(--cluster-wrap, wrap);
  justify-content: var(--cluster-horizontal-alignment, flex-start);
  row-gap: var(--cluster-row-gap, var(--gutter, var(--space-s-m)));
}
