/* Modern CSS Reset - Unique Rules Only */

html {
  -moz-text-size-adjust: none;
  text-size-adjust: none;
  hanging-punctuation: first last;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: var(--main-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

#root {
  isolation: isolate;
}

/* Utilities */

h1,
h2,
h3 {
  line-height: 1.1;
  letter-spacing: var(--tracking-s);
}

ul,
ol {
  padding-inline-start: 1em;
  padding-left: 0;
}

h1 {
  font-size: var(--step-5);
}

h2 {
  font-size: var(--step-4);
}

h3 {
  font-size: var(--step-3);
}

h4 {
  font-size: var(--step-2);
}

p {
  font-size: var(--step-0);
  letter-spacing: var(--tracking-s);
  font-family: var(--paragraph);
}

a {
  font-size: var(--step-0);
  letter-spacing: var(--tracking-s);
}

li,
label,
input {
  font-size: var(--step-0);
  letter-spacing: var(--tracking-s);
}

.flow > * + * {
  margin-block-start: var(--size-step-1, 1em);
}

.wrapper {
  max-width: var(--wrapper-max-width, 65rem);
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
}
