*,
::after,
::before,
::backdrop,
::file-selector-button {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0 solid;
}

html,
:host {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  -webkit-tap-highlight-color: transparent;
  hanging-punctuation: first last;
}

body {
  min-height: 100vh;
  font-family: var(--main-font, inherit);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}

abbr:where([title]) {
  text-decoration: underline dotted;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  line-height: 1.1;
  text-wrap: balance;
  overflow-wrap: break-word;
}

h1 {
  font-size: var(--step-5, 2.5rem);
  letter-spacing: var(--tracking-s, -0.02em);
}

h2 {
  font-size: var(--step-4, 2rem);
  letter-spacing: var(--tracking-s, -0.02em);
}

h3 {
  font-size: var(--step-3, 1.75rem);
  letter-spacing: var(--tracking-s, -0.02em);
}

h4 {
  font-size: var(--step-2, 1.5rem);
}

h5,
h6 {
  font-size: var(--step-1, 1.25rem);
}

p {
  font-size: var(--step-0, 1rem);
  letter-spacing: var(--tracking-s, -0.02em);
  font-family: var(--paragraph, inherit);
  overflow-wrap: break-word;
}

a {
  color: currentColor;
  text-decoration: inherit;
  font-size: var(--step-0, 1rem);
  letter-spacing: var(--tracking-s, -0.02em);
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

:-moz-focusring {
  outline: auto;
}

progress {
  vertical-align: baseline;
}

summary {
  display: list-item;
}

ol,
ul,
menu {
  list-style: none;
  padding-inline-start: 1em;
}

ul[role="list"],
ol[role="list"] {
  padding-inline-start: 0;
}

li {
  font-size: var(--step-0, 1rem);
  letter-spacing: var(--tracking-s, -0.02em);
  overflow-wrap: break-word;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object,
picture {
  display: block;
}

img,
video {
  max-width: 100%;
  height: auto;
}

button,
input,
select,
optgroup,
textarea,
::file-selector-button {
  font: inherit;
  letter-spacing: inherit;
  color: inherit;
  border-radius: 0;
  background-color: transparent;
}

button,
input,
label {
  line-height: 1.1;
  font-size: var(--step-0, 1rem);
  letter-spacing: var(--tracking-s, -0.02em);
}

:where(select:is([multiple], [size])) optgroup {
  font-weight: bolder;
}

:where(select:is([multiple], [size])) optgroup option {
  padding-inline-start: 20px;
}

::file-selector-button {
  margin-inline-end: 4px;
}

::placeholder {
  opacity: 1;
  color: color-mix(in oklab, currentcolor 50%, transparent);
}

textarea {
  resize: vertical;
}

textarea:not([rows]) {
  min-height: 10em;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-date-and-time-value {
  min-height: 1lh;
  text-align: inherit;
}

::-webkit-datetime-edit {
  display: inline-flex;
}

::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit,
::-webkit-datetime-edit-year-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-minute-field,
::-webkit-datetime-edit-second-field,
::-webkit-datetime-edit-millisecond-field,
::-webkit-datetime-edit-meridiem-field {
  padding: 0;
}

::-webkit-calendar-picker-indicator {
  line-height: 1;
}

:-moz-ui-invalid {
  box-shadow: none;
}

button,
input:where([type="button"], [type="reset"], [type="submit"]),
::file-selector-button {
  appearance: button;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

:target {
  scroll-margin-block: 5ex;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

[hidden]:where(:not([hidden="until-found"])) {
  display: none !important;
}

#root {
  isolation: isolate;
}

.flow > * + * {
  margin-block-start: var(--size-step-1, 1em);
}

.wrapper {
  max-width: var(--wrapper-max-width, 65rem);
  margin-inline: auto;
  padding-inline: 1rem;
}
